*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Arvo', serif;
    font-size: 10px;
}

header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    transition: background-color .5s ease;
    z-index: 1000;
}


/* <a href='https://www.freepik.com/photos/chemical-laboratory'>Chemical laboratory photo created by DCStudio - www.freepik.com</a> */

.container{
    width: 100%;
    /*max-width: 120rem;*/
    display: flex;
}

.nav{
    width: 100%;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid rgba(255,255,255,.05);
    transition: height .5s ease;
}

.nav a{
    text-decoration: none;
    color: #fff;
    font-size: 1.6rem;
}

.nav a:hover{
    transition: 0.3s ease-in;
    color:rgb(242,138,0);
}

.nav .logo{
    font-size: 3.5rem;
    font-weight: bold;
    padding-left: 10%;
}

.nav-list{
    list-style: none;
    display: flex;
    margin-right: auto; 
    align-items: center;
    justify-content: center;
    padding-right: 50%;
}

.nav-list li{
    padding: .5%;
}

.nav-link{
    margin: 1rem 2rem;
    position: relative;
}

/*.nav-link::after{
    content: '';
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -3px;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease;
}*/

.nav-link:hover::after{
    transform: scaleX(1);
}

#nav-cta{
    display: inline-block;
    background-color: #fff;
    color: #313131;
    padding: 1rem 2rem;
    border-radius: 2rem;
    transition: background-color .5s ease;
}

#nav-cta:hover{
    background-color: #d3d3d3;
}


/*Apply styles after scroll*/
.scrolling-active{
    background-color: rgba(255, 255, 255, 0.95);
    box-shadow: 0 3px 1rem rgba(0,0,0,.1);
}

.scrolling-active .nav{
    height: 6.6rem;
}

.scrolling-active .nav a{
    color: #313131;
}

.scrolling-active .nav a:hover{
    color: rgb(242,138,0);
}

.scrolling-active #nav-cta{
    background-color: #313131;
    color: #fff;
}

.scrolling-active #nav-cta:hover{
    background-color: #151515;
}

.scrolling-active .nav-link::after{
    background-color: #313131;
}

.scrolling-active .toggle-button .bar{
    background-color: #151515;
}

/*Apply styles after scroll end*/


.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    margin-right: 10px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}


/* home Demo Content*/
.home{
    width: 100%;
    height: 100vh;
    background: url("./images/image\ \(1\).png") center no-repeat;
    background-size: cover;
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex; 
    text-align: center;
    color: white;
}

.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-row{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.home h1{
    color: white;
    font-size: 45px;
}

.home h3{
    color: white;
    font-size: 16px;
}


.content{
    margin-top: 200px;
    padding-left: 100px;
}
/*
.home button{
    border-style: none;
    background-color: #fff;
    color: #313131;
    padding: 1rem;
    border-radius: 50%;
    transition: background-color .5s ease;
}

.home button:hover{
    cursor: pointer;
    
}*/

/* home end*/


section {
    padding-top: 6.6rem;
}

/* ABOUT SECTION */

.about{
    padding: 3rem;
    font-size: 14px;
    height: auto;
    width: 100%;
    /*background-color: #99D5E9;*/
    padding-top: 8rem;
    padding-bottom: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-aspect-ratio: 16/9){
    .about-back{
        width: 100%;
        height: auto;
    }
}


.about p{
    width: 60%;
    font-size: 16px;
    line-height: 1.6;
}

.about h2{
    text-align: left;
    font-size: 32px;
    font-weight: bolder;
    width: 30%;
    text-align: center;
    color: rgb(242,138,0);
}

.about-style{
    display: flex;
    align-items: center;
    text-align: left;
}


/* partners SECTION */
.partners{
    font-size: 14px;
    width: 100%;
    height: auto;
    /*background: url("./team.jpg") no-repeat;*/
    background-size: cover;
    text-align: center;
    /*background-color:rgba(55, 106, 145, 0.3);*/
}

.partners h2{
    text-align: center;
    padding: 2.5rem;
    font-size: 40px;
    color: white;
    margin-top: -90vh;
    margin-bottom: 20px;
    z-index: 99;
}

.partners .block{
    width: 30%;
    background-color: #63bedd;
    z-index: 1;
    height: 100vh;
    margin-left: 35%;
}

.box{
    background-color: rgb(239, 234, 231);
    z-index: 99;
    height: 55vh;
    width: 40vh;
    margin: 1rem;
    transition: all ease-in-out 200ms;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    align-items: center;  
}

.box img{
    width: 25vh;
    padding: 1rem;
    margin-top: 5px;
    margin-bottom: 15px;
}

.box .small{
    width: 32vh;
    margin-top: 5px;
}

.box p{
    text-align: left;
    width: 60%;
    line-height: 1.6;
}



/* AIM SECTION */
.aim{
    background: url("./images/aim.jpg") no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
    z-index: -2;
}

.overlay{
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100vh;
    transform: skew(0deg);
    transition: 1600ms ease-in;
    background: rgba(242,138,0,.75);
}

.overlay.in-view{
    width: 300%;
    height: 100vh;
    background: rgba(242,138,0,.75);
    transform: skew(62deg);
    left: 38%;
}


.aim-body{
    z-index: 0;
    margin-top: 3%;
    color: white;
    vertical-align: middle;
    text-align: right;
    margin-left: 40%;
    margin-right: 5%;
}

.aim h2{
    font-size: 57px;
    margin-bottom: 15px;
}

.aim p{
    font-size: 16px;
    padding-left: 20%;
    line-height: 1.6;
}

/* PRODUCTS SECTION */
.products{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: white;
    margin-top: 15px;
}

.products h1{
    font-size: 32px;
    color: rgb(242,138,0);
}

.products-content{
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-list{
    position: relative;
    background: #000;
    width: 400px;
    min-height: 550px;
    margin: 20px;
    overflow: hidden;
    border-radius: 10px;
}

.product-list .product{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
}

.product-list .product.active{
    clip-path: circle(150% at 0 50%);
    transition: 0.5s;
}

.product-list .product img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product-list .product .info{
    position: absolute;
    color: #222;
    background: rgba(255, 255, 255, 0.3);
    width: 75%;
    margin-top: 50px;
    margin-left: 50px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1/5%);
}

.product-list .product .info h2{
    font-size: 2em;
    font-weight: 800;
}

.product-list .product .info p{
    font-size: 1em;
    font-weight: 400;
}

.navigation{
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.product-list:hover .navigation{
    opacity: 1;
}

.prev-btn, .next-btn{
    z-index: 999;
    font-size: 2em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
}

.prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.navigation-visibility{
    z-index: 999;
    display: flex;
    justify-content: center;
}

.navigation-visibility .slide-icon{
    z-index: 999;
    background: rgba(255, 255, 255, 0.5);
    width: 20px;
    height: 10px;
    transform: translateY(-50px);
    margin: 0 6px;
    border-radius: 2px;
    box-shadow: 0 5px 25px rgb(1 1 1/5%);
}

.navigation-visibility .slide-icon.active{
    background: #4285F4;
}

/* SOCIALS */
.social{
    background: rgb(242,138,0);
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.social h2{
    font-size: 25px;
    margin-bottom: 10px;
}

.social ul{
    list-style-type: none;
    line-height: 30px;
    font-size: 15px;
    margin-bottom: 0; 
}

.social a{
    color: #fff;
    text-decoration: none;
    transition: 0.3s;
}

.social a:hover{
    opacity: 0.8;
    color: #eee;
}

.socials-list{
    width: 100%;
    margin: 0;
    text-align: center;
    padding: 40px;
    padding-bottom: 0px;
    padding-top: 0;
}

.socials-list a{
    font-size: 22px;
    width: 45px;
    height: 45px;
    line-height: 39px;
    display: inline-block;
    border-radius: 50%;
    border: 2px solid #4285F4;
    box-shadow: 0px 0px 0px 1px rgba(242, 138, 0, 0.);
    margin: 10px;
    color: #fff;
    opacity: 0.7;
    transition: 0.3s ease-in-out;
}
  
.socials-list a:hover{
    opacity: 0.9;
    box-shadow: 0px 1px 3px 2px #4285F4;
}

.copyright{
    text-align: center;
    padding-top: 18px;
    font-weight: 500;
    opacity: 0.8;
    font-size: 16px;
}

.contact{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    color: #FFF;
    font-size: 16px;
    text-align: center;
}

.contact-us, .work-with-us{
    
    line-height: 2;
}

.contact h3{
    font-size: 24px;
    font-weight: 400;
}

.contact img{
    width: 30%;
}

button{
    border: 0;
    box-shadow: 2px 4px 0 0 rgb(67 82 97 / 17%);
    padding: 12px 24px;
    text-align: center;
    background-color: #99D5E9;
    border-radius: 20px;
    color: white;
    transition: 500ms;
    margin-bottom: 10px;
}


button:hover{
    cursor: pointer;
    background-color: #4285F4;
}

@media (max-width: 900px){
    .products-content{
        width: 100%;
    }

    .products-content .product .info{
        position: relative;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 500px){

    .products-content .product .info h2{
        font-size: 1.8em;
        line-height: 40px;
    }

    .products-content .product .info p{
        font-size: 0.9em;
    }

    .social{
        padding-top: 10px;
        flex-direction: column;
        height: auto;
        padding-bottom: 10px;
    }

    .contact{
        color: rgba(255, 255, 255, 0.5);
        flex-direction: column;
    }
}

@media (max-width: 800px) {

    .nav {
        flex-direction: column;
        align-items: flex-start;
        height: 8rem;
        border-bottom: none;
    }

    .toggle-button {
        display: flex;
    }

    .nav-links {
        display: none;
        width: 100%;     
    }

    .nav-links ul{
        width: 100%;
        flex-direction: column;
    }

    .nav-links ul li {
        text-align: center;     
    }

    .nav-links ul li a {
        padding: .0.5rem 1rem;
        
    }

    .nav-links.active {
        display: flex;
    }

    .nav-list{
        padding-right: 0%;
    }
    
 
    .content{  
        padding-left: 0;
    }

    .aim-body h2{
        font-size: 34px ;
    }

    .aim-body{
        margin-left: 25%;
    }
    
    .overlay.in-view{
        transform: skew(50deg);
        left: 0;
    }

    .social{
        margin: 0 auto;
    }

    .about-style{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .about h2{
        font-size: 30px;
        padding: 0;
        margin: 0;
        width: 100%;
        margin-bottom: 18px;
    }

    .about {
        text-align: center;
        line-height: 1.6;
        width: 100%;
    }

    

}

@media (max-width: 1275px) {
    .partners .block{
        display: none;
    }

    .partners h2{
        margin-top: 0;
        margin-bottom: 0;
        color: #000;
    }

    .partners{
        background-color: #63bedd;
    }
}